.button {
    border: 3px solid #712D2D;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: black;
    padding: 0.3rem;
    display: block;
    margin: 0.5rem;
    text-decoration: none;
    text-align: center;
    width: 80vw;
    font-size: 1rem;
    display: flex;
}

.image {
    display: flex;
    align-items: center;
}

.button img {
    max-height: 25px;
}

.button.left {
    flex-direction: row-reverse;
    justify-content: center;
}

.button.center {
    flex-direction: column;
    align-items: center;
}
.button .text {
    flex-grow: 1;
}

.button.right .text {
  margin-right: 0.5rem;
}

.button.left .text {
  margin-left: 0.5rem;
}

.buttons_container .button.left {
  width: 55%;
  min-width: 210px;
}

.buttons_container .button.right {
  width: 35%;
  min-width: 130px;
}

.empty {
    width: 25px;

}

a:focus-visible,
button:focus-visible {
  outline: 2px solid #007acc;
  outline-offset: 2px;
  border-radius: 4px;
}

a.button-link:focus {
  outline: none;
}

@media (min-width: 500px) {
    .button {
        max-width: 450px;
    }
}