.grid {
    display: grid;
    width: 100%;
    margin: 0.5rem auto;
}

.cell {
    background-color: #FFFFFF;
    border: 2px solid black;
    aspect-ratio: 1 / 1;
}

.selected {
    background-color: black;
}

@media (min-width: 1024px) {
   .grid {
     width: 80%;
   }
}