.page-title {
  background-color: white;
  border: #712D2D solid 3px;
  border-radius: 10px;
  position: relative;
  width: 280px;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  /*left: 50%;
  transform: translateX(-50%);*/
  margin-inline: auto;
}

@media (min-width: 1024px) {
  .page-title {
    margin-inline: auto;
    position: ;
  }
}
