.page-title {
  background-color: white;
  border: #712D2D solid 1px;
  border-radius: 4px;
  position: relative;
  width: 10rem;
  padding: 0.2rem;
  margin-inline: auto;
  margin-bottom: 0.5rem;
}

@media (min-width: 1024px) {
  .page-title {
    margin-inline: auto;
    width: 11rem;

  }
}