.page-title {
  background-color: white;
  border: #712D2D solid 3px;
  border-radius: 10px;
  position: relative;
  width: 9rem;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  margin-inline: auto;
}

@media (min-width: 1024px) {
  .page-title {
    margin-inline: auto;
  }
}
