.phase3_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.ok {
  width: 40px;
  height: 40px;
  background-color: #41DE1E;
  border: black solid 2px;
}

.none {
  width: 40px;
  height: 40px;
  background-color: grey;
  border: black solid 2px;
}

.mistake {
  width: 40px;
  height: 40px;
  background-color: #FF3B30;
  border: black solid 2px;
}

.right,
.missing,
.bug {
  display: flex;
  flex-direction: row;
  justify-content: stretch;

}

@media (min-width: 1024px) {
  .phase3_container {
    max-width: 40vw;
  }
}
