.phase3_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.ok {
  width: 40px;
  height: 40px;
  background-color: #41DE1E;
  border: black solid 2px;
  padding: 3px;
}

.none {
  width: 40px;
  height: 40px;
  background-color: grey;
  border: black solid 2px;
}

.mistake {
  width: 40px;
  height: 40px;
  background-color: #FF3B30;
  border: black solid 2px;
}

.right,
.missing,
.bug {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.text-left {
  text-align: left;
}

.info_level {
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
  padding-bottom: 0;
}

.buttons_container {
  display: flex;
  justify-content: center;
  max-width: 90vw;
  width: 100%;
}


@media (min-width: 1024px) {
  .phase3_container {
    max-width: 40vw;
  }
}