.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header .logo {
    max-height: 2rem;
    display: block;
    margin: 0.2rem 0.2rem 0 0.3rem;
}

.header .sound {
    max-height: 1rem;
    margin: 0.6rem 0.5rem 0 0.25rem;
}

@media (min-width: 1024px) {

    .header .logo {
        max-height: 3.3rem;
    }

    .header .sound {
        max-height: 2.2rem;
    }
}
