.tips_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;
  padding-top: 0.3rem;
}

.tips-1,
.tips2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0;
}

.sound_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.icon_sound,
.mute,
.img__logo {
  width: 2rem;
}

.img__logo {
  margin-left: 4rem;
}

@media (min-width: 768px) {
  .tips_container {
    max-width: 60vw;
  }
}

@media (min-width: 1024px) {
  .tips_container {
    max-width: 50vw;
  }

  .tips-1,
  .tips-2 {
    margin-inline: auto;
  }

  .sound_icons {
    justify-content: space-evenly;
  }

  .img__logo {
    margin-left: 7rem;
  }
}