.instructions-1,
.instructions-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0;
}

.instructions_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.5rem;
}


p {
  text-align: center;
  margin: 0;
  padding: 0.1rem;
}

.instuction__visual {
  position: relative;
}

.instructionGrid {
  flex-grow: 1;
  width: 8rem;
  height: 8rem;
  clip-path: inset(5%);
}

.instructionGrid img {
  width: 100%;
  background-color: white;

}

.instuction__visual--empty {
  position: relative;
  margin-inline: auto;
  width: 7rem;
  height: 7.7rem;
}

.instruction__grid--empty {
  width: 100%;
  height: auto;
  background-color: white;
  display: block;
  margin-block: 0.5rem;
}


.hand {
  position: absolute;
  height: 2.5rem;
  margin: 0.5rem;
  width: auto;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.info__text {
  background-color: white;
  border: #712D2D solid 1px;
  border-radius: 4px;
  width: fit-content;
  margin-inline: 0.5rem;
  margin-top: 0.3rem;
}

@media (min-width: 668px) {
  .instructions_container {
    max-width: 80vw;
  }
}

@media (min-width: 1024px) {
  .instructions_container {
    max-width: 50vw;

  }

  .instructions-2,
  .instructions-1 {
    margin-inline: auto;
  }

  .instructionGrid img {
    width: 80%;
  }

  .instructionGrid {
    text-align: center;
  }
}